<!DOCTYPE html>
{% extends "corgiapp/base.html" %}
{% block title %}
    Home
{% endblock %}
  {% block body_block %}

  <style>
  .container {
    padding: 16px;
  }
    p {text-align: center}
    h1 {text-align:center}

    .box {
      background: #ffffff;
      border: 1px solid #f2f2f2;
    }
    .image {
      background #ffffff;
      border: 1px solid #f2f2f2;
      display: block;
      margin-left:auto;
      margin-right:auto;
      width: 300px;

    }
    #breed_image {
      float: left;
      width: 300px;
      height: 300px;
      object-fit: cover;
    }
  </style>

  <div class="col-12 box">
    <img class="image" src="https://i.imgur.com/kscW6jl.png" alt="About Us">
    <div class="jumbotron">
  <h1 class="display-4">Hey there! Welcome to Pup Care.</h1>
  <p class="lead">We are here for the sole purpose of assisting you and your precious dog in all your dog’s medical needs.</p>
  <hr class="my-4">
  <p> Our services make it easy for you to know your priorities when it comes to looking into your dogs mental and physical well being. Simply create your free account to have access to tons of health tools such as a live chat with a vet, and access to millions of discussions in our state of the art forum.

The harsh truth of the reality is that the covid pandemic has tested us all beyond our limits. During this time, one of our team members,  had trouble finding medical care remedies and local specialists for his new Golden doodle, Wally. Upon bringing up this problem we decided to make Pup Care.
</p>
<img class="image" src="https://i.imgur.com/zPshXUM.jpg" alt="Cute Dog Photo">
</div>





  {% endblock %}
