<!DOCTYPE html>
{% extends "corgiapp/base.html" %}
  {% block body_block %}
  <div class="jumbotron">
    <h1>please log in</h1>
    <form action="{% url 'corgiapp:user_login' %}" method="post">
      {% csrf_token %}
      <label for="username">username: </label>
      <input type="text" name="username" value="Enter username">

      <label for="password">Password: </label>
      <input type="password" name="password">

      <input type="submit" name="" value="Login">
    </form>

  </div>
  {% endblock %}
